{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class= 'layout'>
    <div class= 'column'>
    <h1>MVC(Model-View-Controller)</h1>
    <p>Det är en arkitektonisk ramverk som används inom webbutveckling.</p>
    <p>Den delar applikationen i tre delar: Modellen som hanterar datan och logik, View(vyn), som hanterar användarens interaktioner, och controller(styrenheten) som förmedlar mellan modell och vyn.</p>
    </div>
    <div class= 'column'> <p>hello</p> </div>
</div>
     
{% endblock %}
