{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>Me</h1>
    <p>Mitt namn är Luda. Jag är student på första året i webbprogrammeringsprogrammet i BTH.</p>
    <p>Jag hade ingen tidigare erfarenhet av programmerin ginnan jag började, men jag tycker det är kult nu när jag lär mig mer och mer.</p>
    <img class='img1'src="{{ asset('img/LDsun.jpeg') }}" alt="me">

{% endblock %}
